*{
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

main{
    width: 80%;
    margin: 30px auto;
}

.row{
    font-size: 0;
    margin-left: 175px;
}

.box{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 450px;
    margin: 2px;
}

img{
    width: 200px;
    height: 300px;
}

.heart_container{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 20px;
    height: 20px;
    z-index: 6;
}

.price_container{
    position: absolute;
    bottom: 37%;
    left: 0;
    background-color: red;
    width: 30px;
    height: 20px;
    border-radius: 2px;
    z-index: 6;
}
